[Desktop Entry]
Name=Pikasso
Name[ca]=Pikasso
Name[ca@valencia]=Pikasso
Name[en_GB]=Pikasso
Name[es]=Pikasso
Name[fr]=Pikasso
Name[hu]=Pikasso
Name[nl]=Pikasso
Name[nn]=Pikasso
Name[pt]=Pikasso
Name[pt_BR]=Pikasso
Name[sk]=Pikasso
Name[sl]=Pikasso
Name[sv]=Pikasso
Name[uk]=Pikasso
Name[x-test]=xxPikassoxx
GenericName=Drawing Program
GenericName[ca]=Programa de dibuix
GenericName[ca@valencia]=Programa de dibuix
GenericName[en_GB]=Drawing Program
GenericName[es]=Programa de dibujo
GenericName[fr]=Programme de dessin
GenericName[hu]=Rajzprogram
GenericName[nl]=Tekenprogramma
GenericName[nn]=Teikneprogram
GenericName[pt]=Programa de Desenho
GenericName[pt_BR]=Programa de desenho
GenericName[sk]=Kresliaci program
GenericName[sl]=Program za risanje
GenericName[sv]=Ritprogram
GenericName[uk]=Програма для малювання
GenericName[x-test]=xxDrawing Programxx
Version=1.0
Exec=pikasso
Icon=applications-development
Type=Application
Terminal=false
Categories=Qt;KDE;
