[Desktop Entry]
Name=Pikasso
Name[ar]=بيكاسو
Name[ca]=Pikasso
Name[ca@valencia]=Pikasso
Name[cs]=Pikasso
Name[de]=Pikasso
Name[en_GB]=Pikasso
Name[eo]=Pikasso
Name[es]=Pikasso
Name[eu]=Pikasso
Name[fi]=Pikasso
Name[fr]=Pikasso
Name[gl]=Pikasso
Name[hi]=पिकासो
Name[hu]=Pikasso
Name[it]=Pikasso
Name[ka]=Pikasso
Name[ko]=Pikasso
Name[nl]=Pikasso
Name[nn]=Pikasso
Name[pl]=Pikasso
Name[pt]=Pikasso
Name[pt_BR]=Pikasso
Name[ro]=Pikasso
Name[sk]=Pikasso
Name[sl]=Pikasso
Name[sv]=Pikasso
Name[tr]=Pikasso
Name[uk]=Pikasso
Name[x-test]=xxPikassoxx
Name[zh_TW]=Pikasso
GenericName=Drawing Program
GenericName[ar]=برنامج رسم
GenericName[ca]=Programa de dibuix
GenericName[ca@valencia]=Programa de dibuix
GenericName[cs]=Kreslicí program
GenericName[de]=Zeichenprogramm
GenericName[en_GB]=Drawing Program
GenericName[eo]=Desegna Programo
GenericName[es]=Programa de dibujo
GenericName[eu]=Marrazteko programa
GenericName[fi]=Piirustusohjelma
GenericName[fr]=Programme de dessin
GenericName[gl]=Programa de debuxo
GenericName[hi]=चित्रकारी अनुप्रयोग
GenericName[hu]=Rajzprogram
GenericName[it]=Programma di disegno
GenericName[ka]=სახატავი პროგრამა
GenericName[ko]=그리기 프로그램
GenericName[nl]=Tekenprogramma
GenericName[nn]=Teikneprogram
GenericName[pl]=Program do rysowania
GenericName[pt]=Programa de Desenho
GenericName[pt_BR]=Programa de desenho
GenericName[ro]=Program pentru desenat
GenericName[sk]=Kresliaci program
GenericName[sl]=Program za risanje
GenericName[sv]=Ritprogram
GenericName[tr]=Çizim Programı
GenericName[uk]=Програма для малювання
GenericName[x-test]=xxDrawing Programxx
GenericName[zh_TW]=繪圖程式
Version=1.0
Exec=pikasso
Icon=applications-development
Type=Application
Terminal=false
Categories=Qt;KDE;
